/*main.css*/

header {
	background-color:#f8f9fa;
	padding:10px 0;  
}

header .btn {margin-left:9px; }
header .navbar-nav {margin-left:15%; }
header .navbar-light .navbar-nav .nav-link {font-weight:500;}

.main-banner {padding:26px 0; }
.img-box img {width:100%; }
.user-box {background-color:#ccc; padding:15px 20px; }
.user-box ul {margin:0; padding:0;  }
.user-box ul li {list-style-type:none; position:relative; padding:25px 10px 25px 96px; margin:10px 0; font-size:20px; 
	background-color:#e2e2e2; text-transform:capitalize;     }
.user-box ul li img {position:absolute; left:10px; top:50%; transform:translateY(-50%); width:66px; height:66px; border-radius:50%;
border:2px solid #666; overflow:hidden; object-fit:cover;     }


.dash-rght {
    background: #c4c4c4;
    padding: 15px;
}
.dash-rght ul {
    margin: 0;
    padding: 0;
}
.dash-rght ul li {
    list-style-type: none;
    margin-bottom: 10px;
}
.dash-rght ul li a  {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    transition: all 0.6s;
}
.dash-rght ul li a:hover {
    background: rgba(255,255,255,0.6);
    text-decoration: none;
}
.dash-rght ul li a:hover span {
    color: #541e80;
}
.dash-rght ul li:last-child {
    margin-bottom: 0;
}
.dash-rght ul li figure {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0;
}
.dash-rght ul li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dash-rght ul li span {
    margin-left: 15px;
    display: block;
    color: #000;
    font-size: 20px;
    line-height: 0.8;
    font-weight: 500;
}
.collapse-btn {
    background: #541e80;
    border-radius: 30px;
    width: 100%;
    padding: 13px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
    border: 2px solid #541e80;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: all 0.6s;
}
.collapse-btn:hover {
    background: #fff;
    border-color: #541e80;
    color: #541e80;
    text-decoration: none;
}
.collapse-btn span {
    margin-right: 14px;
    font-size: 25px;
}
.dash-lft {
    background: #5a5a5a;
    padding: 30px 40px;
    height: 100%;
}
.img-box {
    border-radius: 20px;
    box-shadow: 13px 13px 20px rgba(0,0,0,0.7);
    overflow: hidden;
    position: relative;
    height: 100%;
}
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar {
    padding-left: 0;
    padding-right: 0;
}
.custom-row {
    margin: 0;
}
.column {
    padding: 0;
}
.img-box:hover .fancybox {
    opacity: 1;
}
.fancybox {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: auto;
    text-align: center;
    opacity: 0;
    transition: all 0.6s;
}
.fancybox span img {
    width: 30px;
}
.b-menu {
    padding: 0 0 30px;
}
.b-menu .row {
    align-items: center;
}
.b-menu .btn.dropdown-toggle:focus  {
    outline: none;
    border: 0;
    box-shadow: none;
}
.b-menu .dropdown {
    text-align: center;
}
.b-menu .btn {
    background: #541e80;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
}
.b-menu .btn:hover,.b-menu .btn:focus {
    background: #541e80;
    color: #fff;
}
.dropdown-menu {
    padding: 0;
    border: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background: #fff;
}
.dropdown-menu a {
    transition: all 0.6s;
    border-bottom: 1px solid #541e80;
}
.dropdown-menu a:last-child {
    border-bottom: 0;
}
.dropdown-menu a:hover {
    background: #541e80;
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .active > .nav-link {
    /* color: #541e80; */
    color:#fff
}
.add-btn {
    margin: 0 30px 0;
    text-align: center;
}
.react-img{
    margin: -15px;
}
.react-img .col-md-6 {
    padding:15px;
}
header .btn {
    border-color: #541e80;
    color: #541e80;
}
header .btn:hover,header .btn:focus {
    background:#541e80;
    color: #fff;
    border-color: #541e80;
}
.add-btn-right{
    position: absolute;
    bottom: -75px;
    right: 0;
}
.main-banner .container{
    position: relative;
}
.header-menu{
    background-color: #d5a2fe;
    border-radius: .25rem;
}